<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

        body {
            background-color: black;
            color: yellow;
            font-family: 'Inclusive Sans', sans-serif;
        }
    </style>
    <title>
        <%= name %>
    </title>
</head>

<body>
    <%- options.notes %>
</body>

</html>